

name: GitHubActionsBasic

env: 
  APPLICATION_NAME: "MyFlask"
  PACKAGE_NAME    : "flask_deploy_version-${{ github.sha }}"


on:
  push:
    branches:
     - main
    
jobs:
  ActionJobs:
    runs-on: ubuntu-latest

    steps:
      - name: Print Message in Testing
        run: echo "Hello World from Testing Job"
        
      - name: Execure few commands
        run: |
          echo "Hello Message1"
          echo "Hello Message2"
          echo "Application name: ${{ env.APPLICATION_NAME }}"
     
        
      - name: Git Clone My Repo
        uses: actions/checkout@v1
           
      - name: List Current folder
        run: ls -la
        
        
  my_deploy:
    runs-on: ubuntu-latest
    needs: [ActionJobs]
    env:
      VAR1 : "This is job level variable1"
      VAR2 : "This is job level variable2"
    
    steps:
      - name: Print Message in Deploy
        run: echo "Hello World from Testing Job"
      
      - name: Print ENV vars
        run : |
          echo "Var1 = ${{ env.VAR1 }}
          echo "Var2 = ${{ env.VAR2 }}
          echo "Var3 = $LOCAL_VAR"
        env:
          LOCAL_VAR: "This is Local ENV variable"
        
      - name: Printing Deployment Package
        run: echo "Deploy Package name is ${{ env.PACKAGE_NAME }}"
          

      - name: Lets test some packages if the are here 1
        run: aws --version
        
      - name: Lets test some packages if the are here 2
        run: zip --version
          
        
