

name: GitHubActionsBasic

env: 
  APPLICATION_NAME: "MyFlask"
  PACKAGE_NAME    : "flask_deploy_version-${{ github.sha }}"


on:
  push:
    branches:
     - main
    
jobs:
  ActionJobs:
    runs-on: ubuntu-latest

    steps:
      - name: Print Message in Testing
        run: echo "Hello World from Testing Job"
        
      - name: Execure few commands
        run: |
          echo "Hello Message1"
          echo "Hello Message2"
          echo "Application name: ${{ env.APPLICATION_NAME }}"
      
  my_deploy:
    runs-on: ubuntu-latest
    needs: [ActionJobs]
    
    steps:
      - name: Print Message in Deploy
        run: echo "Hello World from Testing Job"
        
      - name: Printing Deployment Package
        run: echo "Deploy Package name is ${{ env.PACKAGE_NAME }}"
          
